body{
	background-image: url(gym4.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	opacity: 1;
	overflow: auto;
}
h1{
	text-align: center;
	font-family: serif,verdana;
	font-weight: bold;
	margin-right:50px;
	margin-bottom: 40px;
}
div.container{
  width: 300px;
  border: none;
  padding: 100px;
  margin-left: 400px;
  background-color: grey;
  opacity: 0.7;
  border-radius: 20px;
}
input[type=text], select{
   border:2px solid;
   border-color:black;
   border-radius: 20px;
   padding:10px;
   width: 300px;
   margin-bottom: 10px;
}
input[type=email], select{
	border:2px solid;
   border-color:black;
   border-radius: 20px;
   padding:10px;
   width: 300px;
   margin-bottom: 10px;
}
input[type=number], select{
	border:2px solid;
   border-color:black;
   border-radius: 20px;
   padding:10px;
   width: 300px;
   margin-bottom: 10px;
}
input[type=radio], select{
	border:1px white;
	border-color:black;
	color: white;
	text-shadow:white;
   margin-top: 20px;
}
.register{
	margin:20px;
	padding: 10px;
	width: 100px
	border:2px;
	border-radius: 20px;
}
.register:hover{
	background-color:green;
}
.reglogbtn{
	width: 50%;
	border-radius: 30px;
	border: 2px solid black;
	margin-bottom: 60px;
	text-align: center;
	margin-left: 50px;
	padding: 5px;
	background-color: skyblue;
	opacity: .7;
	font-family: sans-serif;
}
.btn{
      border:2px solid blue;
      border-radius: 30px;
      
}












